* {
    margin: 0;
    padding: 0;
} 
.textred{
    color: rgb(199, 15, 101);
    text-align: center;
}
.textpurple {color: blueviolet;
    text-align: center;
}

ul,ol { text-align: center;
    list-style-position:inside
}
h3 {
  color: rgba(255, 187, 0, 0.863);
}
.textcenter {
    text-align: center;
}

.img { 
    height: 350px; width: 271px; 
}

img {
    height: 350px; width: 400px; 
}

.tama {
    height: 300px; width: 500px;
}