*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

body{
    background-color:#E0C9A9 ;
}
ul{
    align-items: center;  
    display: flex;
    flex-direction: column;
}
ol{align-items: center;
display: flex;
flex-direction: column;
}